<!-- <div class="row">
    <div class="container">

        <div class="col-5" style="margin-left: 40ch;">
            <div>
                <button class="btn btn-outline-primary">Recoger</button>
                <button class="btn btn-outline-primary">Agregar</button>

            </div>
        </div>
    </div>
</div> -->

<div>
    <input type="text" [(ngModel)]="nombre" placeholder="nombre">
    <input type="text" [(ngModel)]="celular" placeholder="celular">
    <input type="text" [(ngModel)]="cedula" placeholder="cedula">
    <p>
        <select name="miselect" [(ngModel)]="seleccionado">
        <option [value]="item" *ngFor="let item of lista">{{item}}</option>
        </select>
    </p>
    <ul>
        <li>
            {{seleccionado}}
        </li>
    </ul>
    <button (click)="crearEstudiante()">prueba</button>
</div>