<div class="row">
    <div class="container">

        <div class="col-5" style="margin-left: 40ch;">
            <div>
                <button class="btn btn-outline-primary">Recoger</button>
                <button class="btn btn-outline-primary">Agregar</button>

            </div>
        </div>

        <!-- <div class="jumbotron">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Grado</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div> -->


        <!-- <div class="limiter animated fadeInRight">
            <div>
                <div *ngFor="let foro of foros">
                    <input type="checkbox" [(ngModel)]="foro.checked" />
                    <label>{{foro.nombre}}</label>
                </div>
                <pre>{{ foros | json }}</pre>
            </div> -->
        <!-- </div> -->



    </div>
</div>